#root {
  background-color: rgba(3, 3, 4, 0.834);
  height: 100%;
  max-width: 100%;
  min-height: 100vh;
  padding: 5%;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
  color: white;
}


.user-input {
  width: 40%;
  padding: 1%;
  margin: 2% auto 3% auto;
  position: relative;
  font-size: 14px;
  border: 2px solid #1de9b6;
  display: inline-block;
}

.btn {
display: inline-block;
outline: none;
cursor: pointer;
font-weight: 600;
border-radius: 3px;
padding: 12px 24px;
border: 0;
color: #fff;
background: #070a1e;
line-height: 1.15;
font-size: 16px;
width: 25%;
margin: 3% auto 3% auto;
}

.btn:hover {
  transition: all .1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}

.gen-image {
  max-width: 40%;
  height: auto;
  margin: 2% auto 10% auto;
}